<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} &mdash; Jim Hoskins</title>
  <meta name="description" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Arvo:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css?v=1">
  <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Jim Hoskins Blog Feed" /> 
  <script src="/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <header>
    <a href="/" class="brand">Jim Hoskins</a>

    <p class="bio">
      <img class="snapshot" src="/img/jim.jpeg">
      Web Dev<br> Teacher<br> Maker
    </p>

    <div class="links">
      <a href="/">About Me</a>
      <a href="/blog/index.html">Blog</a>
      <a class='social' href="https://twitter.com/jimrhoskins">
        Twitter
        <span class='detail'>@jimrhoskins</span>
      </a>
      <a class='social' href="https://github.com/jimrhoskins">
        Github
        <span class='detail'>/jimrhoskins</span>
      </a>
      <a class='social' href="http://teamtreehouse.com/jim">
        Treehouse
        <span class='detail'>/jim</span>
      </a>
      <a href="mailto:jim@jimhoskins.com">
        Email
        <span class='detail'>jim@jimhoskins.com</span>
      </a>
    </div>


  </header>
    <div role="main">
      <article>
        <header>
          <h1> {{ page.title }}</h1>
        </header>
        {% if page.post %}
          <div class=date>{{ page.date | date_to_string }}</div>
        {% endif %}
        {{ content }}
        {% unless page.disableComments %}
          <footer>
            {% include comments.html %}
          </footer>
        {% endunless %}
      </article>
    </div>


  {% include analytics.html %}
</body>
</html>
